@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.mephoto{
    max-width: 100%;
    min-width: 100px;
    height: auto;
    margin-top: 30px;
    


}
ul {
    margin-left: 10px;
    padding-top: 20px;
}
li{
    letter-spacing: .1rem;
}
.irshad{
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: .2rem;
    font-size: 38px;
    color: #000;
    margin-top: -700px;
}
